*{
  box-sizing: border-box;
}
body{
  margin: 0pt;
  padding: 0pt;
  background-color: #F9F4E7;
}
.app{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.shiftR-2{
  grid-column-start: 3;

}

.navBar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #21262C;

}

.loginButton{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 58px;
  color: #83878A;
  font-size: 20pt;
  border: 3px dashed #83878A;
  border-radius: 5pt;
  transition-duration: 0.3s;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.loginButton:hover{
  display: flex;
  transform: scale(0.98);
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  transition-duration: 0.3s;
}

.record-wrapper{
  padding: 3vmin;
}

#recordButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40vw;
  width: 40vw;
  border: solid 1px #707070 ;
  
}

.start{
  background-color: #FF8888;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  border: solid 1px #707070;
  transition: 0.2s;
}

.start:hover{
  transform: scale(1.1);
  border-radius: 50%;
  transition: 0.2s;
  
}
.startNon{
  height: 0;
  width:0;
  transition: 0.5s;
  border: 0px;
}

.stop{
  background-color: #FF8888;
  height: 14vw;
  width: 14vw;
  border: solid 1px #707070;
  border-radius: 0%;
  transition: 0.2s;
}

.stop:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.stopNon{
  height: 0;
  width:0;
  transition: 0.5s;
  border: 0px;
}

.record-window {
  background-color: #F9F4E7;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* desktop version */
@media screen and (min-width: 600px){



}